# 1. Import Microdata from European Survey

In [ ]:
import os

import pandas as pd

In [ ]:
dataset_dir = os.path.join("data", "raw", "EUROSTAT", "EUROSTAT001-EncuestaEuropeaViolenciaGÃ©nero")
dataset_path = os.path.join(dataset_dir, "encuesta_europea_GBV.csv")
df = pd.read_csv(dataset_path, delimiter=";")
df

,SURV_YEAR,PERS_ID_R,WEIGHT,MODE,CAPI,CAWI,CATI,CASI,PASI,PAPI,...,NP_ALL_THPHSV_F,NP_ALLC_INJURY,NP_ALLR_CLSPERS,NP_ALLR_HLTHSERV,NP_ALLR_VSSERV,NP_ALLR_POLICE,NP_ALL_LIFDANG,NP_LIMIT_ACT,CP_TOGHT_YEAR,FP_TOGHT_YEAR
0,2022,100001,961,2,2,1,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022,100002,"1,086",1,1,2,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022,100003,"3,384",1,1,2,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022,100004,"6,340",1,1,2,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022,100005,"4,512",1,1,2,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6305,2022,106306,"2,965",1,1,2,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6306,2022,106307,"2,341",1,1,2,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6307,2022,106308,"2,954",2,2,1,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6308,2022,106309,995,1,1,2,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6309,2022,106310,"3,623",1,1,2,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 2. Data Exploration

In [ ]:
len(df)

6310

In [ ]:
# 1 is CAPI
# 2 is CAWI
df["MODE"].value_counts()

MODE
1    3977
2    2333
Name: count, dtype: int64

In [ ]:
df["SURV_YEAR"].unique()

array([2022])

# 3. Extract codes and values

In [ ]:
vars = pd.DataFrame(columns=["Code", "UniqueValues"])
vars["Code"] = list(df.columns)
vars["UniqueValues"] = vars["Code"].apply(lambda cod: df[cod].unique())
vars

               Code                                       UniqueValues
0         SURV_YEAR                                             [2022]
1         PERS_ID_R  [100001, 100002, 100003, 100004, 100005, 10000...
2            WEIGHT  [961, 1,086, 3,384, 6,340, 4,512, 2,785, 3,217...
3              MODE                                             [2, 1]
4              CAPI                                             [2, 1]
..              ...                                                ...
837  NP_ALLR_POLICE                                    [nan, 2.0, 1.0]
838  NP_ALL_LIFDANG                                    [nan, 2.0, 1.0]
839    NP_LIMIT_ACT                          [nan, 2.0, 9.0, 1.0, 8.0]
840   CP_TOGHT_YEAR                                              [nan]
841   FP_TOGHT_YEAR                                              [nan]

[842 rows x 2 columns]

In [ ]:
vars.to_excel("vars.xlsx", index=False)